= render 'shared/identity', id: person.authority_member_id
%n1:person
  = render 'shared/person', person: person
= render 'shared/relationships', person: person
= render 'shared/roles', person: person
= render 'shared/timestamp', record: person
- if false
  %n1:other_coverage
    %n1:id
- if false
  %n1:state_of_residency
- if false
  %n1:immigration_status
- if false
  %n1:incarcerated
- if false
  %n1:financial
    %n1:incomes
      %n1:income
        %n1:calendar_year
        %n1:income_amount
        %n1:income_type
        %n1:income_frequency
        %n1:reported_date
        %n1:reported_by
        %n1:verification
          %n1:verified_flag
          %n1:source
          %n1:recorded_date
          %n1:recorded_by
          %n1:notes
    %n1:tax_file_status