<%- model_class = ApplicationGroup -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%- #pid = @application_group.person_relationships.first.subject_person -%>
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Application Groups', application_groups_path),
      @application_group.id
      # Person.find(pid).name_full
    ]
  %>
</div>
<%= link_to 'Edit', edit_application_group_path(@application_group), class: 'btn btn-primary' %>
<div class='col-md-12'>
  <h6>People</h6>

  <div class='panel-body'>
    <%= link_to('New Person', new_person_path(application_group_id: @application_group.id)) %>
    <ul class="list-unstyled">

      <% @application_group.households.each do |household| %>
        <li>
          <%= link_to('(Household)', application_group_household_path(@application_group.id, household.id)) %>
        </li>

      <% end %>
    </ul>

  </div>

  <h6>Events</h6>
  <%= link_to('New Life Event', new_special_enrollment_period_path(application_group_id: @application_group.id)) %>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Reason</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <% @application_group.special_enrollment_periods.each do |sep| %>
      <tbody>
        <tr>
          <td><%= sep.reason %></td>
          <td><%= sep.start_date %></td>
          <td><%= sep.end_date %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <dl class="dl-horizontal">

    <dt><%= "Household(s)" %></dt>
    <% if @application_group.households.count == 0 %>
      <dd></dd>
    <% end %>
    <% @application_group.households.each do |household| %>
      <dd>household</dd>
    <% end %>
  </dl>

  <div class="well well-sm default">
    <div class="form-actions">
     <%= link_to t('.back', :default => t("helpers.links.back")), application_groups_path, :class => 'btn btn-primary'  %>
    </div>
  </div>
</div>
