<div class="row">
  <% commentable.comments.each do |comment| %>
  	<ul>
  	 <li>
        <% if comment.high? %>
          <%=link_to "","#", title: comment.priority , rel: 'tooltip', class: "fui-alert-circle" %>
        <% elsif comment.low? %>
          <%=link_to "low","#", class: "badge" %>
        <% end %>
        <%= "#{comment.content}"%>
        <span class="label label-default">
          <%=link_to "#{comment.updated_at.strftime("%m-%d-%Y %I:%M:%S %p")}","#", title: comment.user , rel: 'tooltip' %>
        </span>

        <%= link_to 'edit', commentable_url(commentable, comment), class: "btn btn-xs btn-warning" if can? :edit, @person %>
        <%= link_to 'delete', commentable_url(commentable, comment), controller: "comment", method: "delete", class: "btn btn-xs btn-danger" if can? :edit, @user %>
      </li>
  	</ul>
  <% end %>
</div>
