%table.table.table-bordered
  %thead
    %tr
      %th
      %th Address Field
      %th Value
    %tbody
      %tr
        %th{rowspan: "7"}
        %tr
          %td Address type
          %td= address.address_type
        %tr
          %td Address 1
          %td= address.address_1
        %tr
          %td Address 2
          %td= address.address_2
        %tr
          %td City
          %td= address.city
        %tr
          %td State
          %td= address.state
        %tr
          %td Zip
          %td= address.zip
