.panel.panel-info
  .panel-heading
    %h3.panel-title Addresses being added
  .panel-body
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th Address Field
          %th Value
        %tbody
          %tr
            %th{rowspan: "7"}
            %tr
              %td Address type
              %td= a.address_type
            %tr
              %td Address 1
              %td= a.address_1
            %tr
              %td Address 2
              %td= a.address_2
            %tr
              %td City
              %td= a.city
            %tr
              %td State
              %td= a.state
            %tr
              %td Zip
              %td= a.zip
