<% if @person.errors.any? %>
  <div class="alert alert-error">
    <h4><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h4>
    <ul>
    <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>

    <% @person.embedded_error_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= panel tag: :aside do %>
      <div class='panel-heading'>
        Name and Identifying Info
      </div>
      <div class='panel-body'>
        <%= render 'name_fields', f: f %>

        <%= f.fields_for :members, errors: {}, fieldset: false do |member|  %>
          <%= render 'member_fields', m: member %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='col-sm-6'>
    <%= panel tag: :aside do %>
      <div class='panel-heading'>
        Addresses
      </div>
      <div class='panel-body'>
        <div class='form-inputs'>
          <%= f.fields_for :addresses, errors: {}, fieldset: false do |address|  %>
            <%= render 'address_fields', f: address %>
          <% end %>
          <p class="text-right"><%= link_to_add_fields "Add Address", f, :addresses %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class='col-sm-6'>
    <%= panel tag: :aside do %>
      <div class='panel-heading'>
        Phones
      </div>
      <div class='panel-body'>
        <div class='form-inputs'>
          <%= f.fields_for :phones, errors: {}, fieldset: false do |phone|  %>
            <%= render 'phone_fields', f: phone %>
          <% end %>
          <!-- <p class="text-right"><%= link_to_add_fields "Add Phone", f, :phones %><p> -->
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-sm-6'>
    <%= panel tag: :aside do %>
      <div class='panel-heading'>
        Emails
      </div>
      <div class='panel-body'>
        <div class='form-inputs'>
          <%= f.fields_for :emails, errors: {}, fieldset: false do |email|  %>
            <%= render 'email_fields', f: email %>
          <% end %>
          <!-- <p class="text-right"><%= link_to_add_fields "Add Email", f, :emails %></p> -->
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= panel title: 'Relationship Type' do %>
  <div class='panel-body'>
    <%= f.select :relationship,  PersonRelationship::ALL_RELATIONSHIPS_LIST, {include_blank: "Type"}, { class: "select select-primary", data: { toggle: "select"}, disabled: true } %>
  </div>
<% end %>
