<fieldset>
	<div class="row">
		<div class="col-md-1">
			<%= f.input :name_pfx, placeholder: "Pfx", disabled: true %>
		</div>
		<div class="col-md-3">
			<%= f.input :name_first, placeholder: "First", disabled: true  %>
		</div>
		<div class="col-md-1">
			<%= f.input :name_middle, placeholder: "Mid", disabled: true  %>
		</div>
		<div class="col-md-3">
			<%= f.input :name_last, placeholder: "Last", disabled: true  %>
		</div>
		<div class="col-md-1">
			<%= f.input :name_sfx, placeholder: "Sfx", disabled: true %>
		</div>
	</div>
</fieldset>
