.page-header
  = render 'shared/breadcrumb', crumbs: [ link_to('People', people_path), link_to(@person.name_full, people_path(@person)), 'Compare']
%h4 Person Changes
.row
  .col-md-offset-1.col-md-8
    - unless @diff
      %p No Changes
    - else
      %p
        The information below reflects changes made to
        %strong
          = @person.full_name
          's
        record.
        This update will transmit to the Carrier, so review carefully for: 1) completeness, and 2) accuracy, before clicking Update button.
      %p If you need to make corrections, Click the Back button.
      .panel.panel-info
        .panel-heading
          %h3.panel-title Addresses being added
        .panel-body
          - added = @diff.addresses_added
          - if added.empty?
            None
          - else
            - added.each do |address|
              = render 'add_remove_addresses', address: address
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Addresses being removed
        .panel-body
          - removed = @diff.addresses_removed
          - if removed.empty?
            None
          -else
            - removed.each do |address|
              = render 'add_remove_addresses', address: address
      .panel.panel-warning
        .panel-heading
          %h3.panel-title Addresses being changed
        .panel-body
          - changed = @diff.addresses_changed
          - if changed.empty?
            None
          - else
            - changed.each do |c|
              = render 'change_table', c: c
= form_for(@person, url: persist_and_transmit_person_path(@person), layout: :horizontal) do |f|
  = hidden_field_tag(:person, @updates.to_json, id: nil)
  .well.well-sm.well-default
    .form-actions
      = submit_tag "Confirm Changes", :class => 'btn btn-primary'
      = link_to "Back", 'javascript:history.back()', :class => 'btn btn-default'
