<%- model_class = Person -%>
<div class="page-header">
 <%= render 'shared/breadcrumb', crumbs: [
      link_to('People', people_path),
      link_to(@person.name_full, person_path(@person)),
      'Edit'
    ]
  %>
</div>

<%= form_for @person, url: compare_person_path(@person), layout: :horizontal do |f| %>

	<%= render 'form', f: f %>

  <div class="well well-sm well-default">
    <%= submit_tag "Save Changes", class: "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), person_path(@person), class: "btn btn-primary" %>
	</div>

<% end %>
