%enrollee
  %member
    = partial 'api/individual_type', :locals => { :person => enrollee }
  %is_subscriber= enrollee.subscriber?
  %benefit
    %premium_amount= enrollee.premium_amount
    %begin_date= enrollee.begin_date
    %end_date= enrollee.end_date
