%enrollee
  %member
    = partial 'api/individual_type', :locals => { :person => object }
  %is_subscriber= object.subscriber?
  %benefit_status="urn:openhbx:terms:v1:benefit_status#active"
  %benefit
    %premium_amount= object.premium_amount[policy.plan_id]
    %begin_date= object.begin_date
    - if !object.end_date.blank?
      %end_date= object.end_date
