%enrollee
  %member
    = partial 'api/individual_type', :locals => { :person => object }
  %is_subscriber= object.subscriber?
  %benefit
    %premium_amount= object.premium_amount
    %begin_date= object.begin_date
    %end_date= object.end_date
