%policy
  - if policy.has_broker?
    %broker
      %id= policy.broker[:npn]
      %name= policy.broker[:name]
  %enrollees
    - policy.enrollees.each do |enrollee|
      = partial 'api/enrollee', :locals => { :object => enrollee }
  -#- if policy.has_responsible_party?
  -#  %responsible_party
  %enrollment
    %plan
      %id= policy.plan_id
      %coverage_type= policy.coverage_type
      %carrier
        %id= policy.carrier_id
        %name= policy.carrier_display_name
        %display_name= policy.carrier_display_name
      %plan_year= policy.plan_year
      %name= policy.plan_name
