%n1:address
  %n1:type= "urn:openhbx:terms:v1:address_type##{address.address_type}"
  %n1:address_line_1= address.address_1
  - if address.address_2.present?
    %n1:address_line_2= address.address_2
  - if address.address_3.present?
    %n1:address_line_3= address.address_3
  %n1:location_city_name= address.city
  %n1:location_state= address.state
  - if address.location_state_code.present?
    %n1:location_state_code= address.location_state_code
  %n1:location_postal_code= address.zip
  - if address.zip_extension
    %n1:location_postal_extension_code= address.zip_extension
  - if address.country_name.present?
    %n1:location_country_name= address.country_name
  %n1:location_country_code= 'US'
  - if address.full_text.present?
    %n1:address_full_text= address.full_text
  - if address.location.present?
    %n1:location= #todo
    - if false
      %n1:rating_area
    - if false
      %n1:coordinates
        %n1:x
        %n1:y
        %n1:z
        %n1:coordinate_system_reference="urn:ogc:def:crs:EPSG::4326"
    - if false
      %n1:census_tract
    - if false
      %n1:county