%n1:address
  %n1:address_type= "urn:openhbx:terms:v1:address_type##{address.address_type}"
  %n1:address_1= address.address_1
  - if address.address_2.present?
    %n1:address_2= address.address_2
  %n1:city= address.city
  %n1:state= address.state
  %n1:postal_code= address.zip
  %n1:country_code= 'US'
  - if false
    %n1:coordinates
      %n1:x
      %n1:y
      %n1:z
      %n1:coordinate_system_reference