= render 'shared/member', person: enrollee.person
%n1:employment_status= "urn:openhbx:terms:v1:employment_status##{enrollee.emp_stat}"
%n1:physically_disabled_flag= enrollee.ds
%n1:coverage_status= enrollee.coverage_status
%n1:benefit_status= enrollee.ben_stat
%n1:coverage
  %n1:begin_date= enrollee.coverage_start
  %n1:end_date= enrollee.coverage_end
  %n1:premium_amount= enrollee.pre_amt