%n1:surname= object.name_last
%n1:given_name= object.name_first
- if object.name_middle.present?
  %n1:name_middle= object.name_middle
- if object.name_full.present?
  %n1:full_name= object.name_full
- if object.name_pfx.present?
  %n1:prefix= object.name_pfx
- if object.name_sfx.present?
  %n1:suffix= object.name_sfx
- if object.alternate_name.present?
  %n1:alternate_name= object.alternate_name