= render 'shared/identity', id: nil
%n1:qhp_id= plan.hios_plan_id
%n1:name= plan.name
%n1:is_dental_only_flag= (plan.coverage_type == 'dental')
%n1:carrier= render 'shared/carrier_link_type', carrier: (Caches::MongoidCache.lookup(Carrier, plan.carrier_id) { plan.carrier })
%n1:coverage_type= "urn:openhbx:terms:v1:benefit_coverage##{plan.coverage_type}"
%n1:metal_level= "urn:openhbx:terms:v1:plan_metal_level##{plan.metal_level.downcase}"
- if plan.ehb.present?
  %n1:market= plan.ehb_max_as_percent
