%xc:vcard
  %xc:fn= person[:name_full]
  %xc:n
    %xc:surname= person[:name_last]
    %xc:given= person[:name_first]
  %xc:org= organization[:name]
  - person[:addresses].each do |address|
    %xc:adr
      %xc:parameters
        %xc:type
          %xc:text= address[:address_type]
      %xc:street= address[:address_1]
      %xc:locality= address[:city]
      %xc:region= address[:state]
      %xc:code= address[:postal_code]
      %xc:country= address[:country_name]
  - person[:phones].each do |phone|
    %xc:tel
      %xc:parameters
        %xc:type
          %xc:text= phone[:phone_type]
      %xc:uri= phone[:phone_number]
  - person[:emails].each do |email|
    %xc:email
      %xc:parameters
        %xc:type
          %xc:text= email[:email_type]
      %xc:text= email[:email_address]