%ns2:vcard{:'xmlns:ns2'=>"urn:ietf:params:xml:ns:vcard-4.0"}
  %ns2:fn= person[:name_full].present? ? person[:name_full] : person[:name_first] + " " + person[:name_last]
  %ns2:n
    %ns2:surname= person[:name_last]
    %ns2:given= person[:name_first]
  %ns2:org= organization[:name]
  - if person[:addresses].present?
    - person[:addresses].each do |address|
      - next if address[:type] != 'work'
      %ns2:adr
        %ns2:parameters
          %ns2:type
            %ns2:text= address[:address_type]
        %ns2:street= address[:address_1]
        - if address[:address_2].present?
          %ns2:street= address[:address_2]
        %ns2:locality= address[:city]
        %ns2:region= address[:state]
        %ns2:code{:'xsi:type'=>"xsd:string"}= address[:postal_code]
  - if organization[:office_locations].present?
    - organization[:office_locations].each do |office_location|
      - address = office_location[:address]
      %ns2:adr
        %ns2:parameters
          %ns2:type
            %ns2:text= address[:address_type]
        %ns2:street= address[:address_1]
        - if address[:address_2].present?
          %ns2:street= address[:address_2]
        %ns2:locality= address[:city]
        %ns2:region= address[:state]
        %ns2:code{:'xsi:type'=>"xsd:string"}= address[:postal_code]
  - if person[:phones].present?
    - person[:phones].each do |phone|
      - if (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length == 10)
        - phone_number = phone[:phone_number]
      - elsif (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length > 10)
        - phone_number = phone[:phone_number][0..9]
      - else
        - phone_number = "0000000000"
      %ns2:tel
        %ns2:parameters
          %ns2:type
            %ns2:text= phone[:phone_type]
        %ns2:uri= "tel:+1-" + phone_number.gsub(/[^0-9]/,'').insert(-5, '-').insert(-9, '-')
  - else
    - phone = primary_office_location(organization[:office_locations])[:phone]
    - if (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length == 10)
      - phone_number = phone[:phone_number]
    - elsif (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length > 10)
      - phone_number = phone[:phone_number][0..9]
    - else
      - phone_number = "0000000000"
    %ns2:tel
      %ns2:parameters
        %ns2:type
          %ns2:text= phone[:phone_type]
      %ns2:uri= "tel:+1-" + phone_number.gsub(/[^0-9]/,'').insert(-5, '-').insert(-9, '-')
  - person[:emails].each do |email|
    %ns2:email
      %ns2:parameters
        %ns2:type
          %ns2:text= email[:email_type]
      %ns2:text= email[:email_address]
    - break