%ns2:vcard{:'xmlns:ns2'=>"urn:ietf:params:xml:ns:vcard-4.0"}
  %ns2:fn= ""
  %ns2:n
    %ns2:surname= ""
    %ns2:given= ""
  %ns2:org= organization[:name]
  - address = primary_office_location(organization[:office_locations])[:address]
  %ns2:adr
    %ns2:parameters
      %ns2:type
        %ns2:text= address[:address_type]
    %ns2:street= address[:address_1]
    - if address[:address_2].present?
      %ns2:street= address[:address_2]
    %ns2:locality= address[:city]
    %ns2:region= address[:state]
    %ns2:code= address[:postal_code]
  - phone = primary_office_location(organization[:office_locations])[:phone]
  - if (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length == 10)
    - phone_number = phone[:phone_number]
  - elsif (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length > 10)
    - phone_number = phone[:phone_number][0..9]
  - else
    - phone_number = "0000000000"
  %ns2:tel
    %ns2:parameters
      %ns2:type
        %ns2:text= phone[:phone_type]
    %ns2:uri= "tel:+1-" + phone_number.gsub(/[^0-9]/,'').insert(-5, '-').insert(-9, '-')