= form_for @vocab_upload,layout: :inline do |f|
  .col-md-4.container
    .row
      = f.radio_button :kind, 'initial_enrollment', label: "Initial Enrollment", checked: true
      = f.radio_button :kind, 'maintenance', label: "Maintenance"
    .row
      .col-md-12
        .container
          = f.file_field :vocab, :class => "file form-control"
    .row
      = f.check_box :bypass_validation, label: 'Bypass Premium Validation?'
      = f.hidden_field :submitted_by
    = f.submit "Upload", :class => "btn btn-primary"
