= form_for @vocab_upload,layout: :inline do |f|
  .col-md-4.container
    .row
      = f.radio_button :kind, 'initial enrollment'
      = f.radio_button :kind, 'maintenance'
    .row
      .col-md-12
        .container.form-group
          = f.file_field :vocab
    .row
      = f.check_box :bypass_validation, label: 'Bypass Premium Validation?'
      = f.hidden_field :submitted_by
    = f.submit "Upload", :class => "btn btn-primary"
