<div class="row">
  <div class="col-md-12">
    <h4><%= @employer.name %></h4>
    <dl class="dl-horizontal">
      <dt>HBX ID</dt>
      <dd><%= @employer.hbx_id %></dd>
      <dt><%= model_class.human_attribute_name(:fein) %></dt>
      <dd><%= number_to_fein(@employer.fein) %></dd>
      <dt><%= model_class.human_attribute_name(:aasm_state) %></dt>
      <dd><%= @employer.aasm_state.humanize %></dd>
      <dt><%= model_class.human_attribute_name(:sic_code) %></dt>
      <dd><%= @employer.sic_code %></dd>
      <dt><%= model_class.human_attribute_name(:msp_count) %></dt>
      <dd><%= @employer.msp_count %></dd>

      <dt><%= "Carrier(s)" %></dt>
      <% if @employer.carriers.count == 0 %>
        <dd></dd>
      <% end %>
      <% @employer.carriers.each do |c| %>
        <dd><%= link_to c.name, carrier_path(c) %></dd>
      <% end %>
    </dl>
  </div>
</div>
