= form_for @change_vocabulary do |f|
  .row
    .col-xs-4
      .control-group
        = f.select :operation, options_for_select(ChangeVocabulary.operations), {}, :class => 'form-control select select-primary'
  %br
  .row
    .col-xs-4
      .control-group
        = f.select :reason, options_for_select(ChangeVocabulary.reasons),{}, :class => 'form-control select-block select select-primary'
  %br

  %table.table.table-condensed
    %thead
      %tr
        %th{title: "XML: Payload, Individual Market Enrollment Group"}
          Included Members
        %th{title: "XML: Operation, Affected Members"}
          Affected Members
        %th
          Name
        %th
          Role
    %tbody
      = f.fields_for(:people) do |people_fields|
        %tr
          %td
            = people_fields.check_box :include_selected
            = people_fields.hidden_field :m_id
          %td
            = people_fields.check_box :affect_selected
            = people_fields.hidden_field :m_id
          %td
            = people_fields.object.name
            = people_fields.hidden_field :name
          %td
            = people_fields.object.role
            = people_fields.hidden_field :role

  = f.hidden_field :policy_id

  .form_actions
    = f.submit nil, :class => 'btn btn-primary'
