%n1:id= api_v1_policy_url(policy.id)
= render 'shared/hbx_identifier'
%n1:carrier_assigned_policy_id
- broker = policy.broker
- if broker.present?
  %n1:broker
%n1:enrollees
  %n1:subscriber
    = render 'shared/enrollee', enrollee: policy.subscriber
  - members = policy.enrollees_sans_subscriber
  - if members.present?
    %n1:members
      - members.each do |enrollee|
        %n1:member
          = render 'shared/enrollee', enrollee: enrollee
- if policy.responsible_party.present?
  %n1:responsible_party
    = render 'shared/person', person: policy.responsible_party.person
%n1:carrier_assigned_member_id
%n1:enrollment
  - plan = policy.plan
  %n1:plan
    %n1:id
    = render 'shared/hbx_identifier'
    %n1:qhp_id= plan.hios_plan_id
    %n1:name= plan.name
    %n1:is_dental_only_flag= (plan.coverage_type == 'dental')
    %n1:carrier= render 'shared/carrier_link_type', carrier: plan.carrier
    %n1:coverage_type= "urn:openhbx:terms:v1:benefit_coverage##{plan.coverage_type}"
    %n1:metal_level= "urn:openhbx:terms:v1:plan_metal_level##{plan.metal_level}"
    %n1:market= "urn:openhbx:terms:v1:hbx_market##{plan.market_type}"
  - if policy.market == 'individual'
    %n1:individual_market
      %n1:carrier_to_bill_flag= policy.carrier_to_bill
      %n1:allocated_aptc_amount= policy.allocated_aptc
      %n1:elected_aptc_percent= policy.elected_aptc
      %n1:applied_aptc_amount= policy.applied_aptc
      %n1:other_payment_amount
  - elsif policy.market == 'shop'
    %n1:shop_market
      %n1:employer= render 'shared/employer_link_type', employer: policy.employer
  %n1:premium_amount_total= policy.pre_amt_tot
  %n1:total_responsible_amount= policy.tot_res_amt
  - if policy.tot_emp_res_amt.present?
    %n1:total_employer_responsible_amount= policy.tot_emp_res_amt
  %n1:policy_state= "urn:openhbx:terms:v1:policy_state##{policy.aasm_state}"
  %n1:request_submitted_timestamp