%n1:id= api_v1_policy_url(policy.id)
= render 'shared/hbx_identifier'
%n1:carrier_assigned_policy_id
- broker = policy.broker
- if broker.present?
  %n1:broker
    %n1:id
    %n1:hbx_id
    %n1:name= broker.name_full
    %n1:npn= broker.npn
%n1:enrollees
  %n1:subscriber
    = render 'shared/enrollee', enrollee: policy.subscriber
  %n1:members
    - policy.enrollees_sans_subscriber.each do |enrollee|
      = render 'shared/enrollee', enrollee: enrollee
- if policy.responsible_party.present?
  %n1:responsible_party
    = render 'shared/person', person: policy.responsible_party.person
%n1:carrier_assigned_member_id
%n1:enrollment
  - plan = policy.plan
  %n1:plan
    %n1:id
    = render 'shared/hbx_identifier'
    %n1:hios_id= plan.hios_plan_id
    %n1:name= plan.name
    %n1:is_dental_only_flag= (plan.coverage_type == 'dental')
    - carrier = plan.carrier
    %n1:carrier
      %n1:id
      %n1:hbx_id= carrier.hbx_carrier_id
      %n1:name= carrier.name
      %n1:fein= carrier.fein
      %n1:issuer_state
    %n1:coverage_type= "urn:openhbx:terms:v1:benefit_coverage##{plan.coverage_type}"
    %n1:market= "urn:openhbx:terms:v1:hbx_market##{plan.market_type}"
  - if policy.market == 'individual'
    %n1:individual_market
      %n1:carrier_to_bill_flag= policy.carrier_to_bill
      %n1:allocated_aptc_amount= policy.allocated_aptc
      %n1:elected_aptc_percent= policy.elected_aptc
      %n1:applied_aptc_amount= policy.applied_aptc
      %n1:other_payment_amount
        %n1:id
  - elsif policy.market == 'shop'
    - employer = policy.employer
    %n1:shop_market
      %n1:employer
        %n1:id
        %n1:hbx_id= employer.hbx_id
        %n1:name= employer.name
        %n1:dba
      %n1:total_employer_responsible_amount= policy.tot_emp_res_amt
  %n1:premium_amount_total= policy.pre_amt_tot
  %n1:total_responsible_amount= policy.tot_res_amt