<?xml version='1.0' encoding='utf-8' ?>
%brokers{:'xmlns:ns1'=>"http://dchbx.dc.gov/broker", :xmlns=>"http://dchbx.dc.gov/broker"}
  - individual[:broker_roles].each do |broker_role|
    %ns1:broker
      %ns1:npn= broker_role[:npn]
      %ns1:license
        %ns1:license_number= broker_role[:npn]
        %ns1:state= "DC"
        %ns1:effective_date
      %ns1:vcard
        %ns1:fn= individual[:person][:name_full].present? ? individual[:person][:name_full] : individual[:person][:name_first] + " " + individual[:person][:name_last]
        %ns1:n
          %ns1:surname= individual[:person][:name_last]
          %ns1:given= individual[:person][:name_first]
        %ns1:org= broker_role[:broker_agency][:display_name]
        - if individual[:person][:addresses].present?
          - individual[:person][:addresses].each do |address|
            %ns1:adr
              %ns1:parameters
                %ns1:type
                  %ns1:text= address[:address_type]
              %ns1:street= address[:address_1]
              - if address[:address_2].present?
                %ns1:street= address[:address_2]
              %ns1:locality= address[:city]
              %ns1:region= address[:state]
              %ns1:code= address[:postal_code]
        - if individual[:person][:phones].present?
          - individual[:person][:phones].each do |phone|
            - if (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length == 10)
              %ns1:tel
                %ns1:parameters
                  %ns1:type
                    %ns1:text= phone[:phone_type]
                %ns1:uri= "tel:+1-" + phone[:phone_number].gsub(/[^0-9]/,'').insert(-5, '-').insert(-9, '-')
            - else
              %ns1:tel
                %ns1:parameters
                  %ns1:type
                    %ns1:text= phone[:phone_type]
                %ns1:uri= "tel:+1-" + "000-000-0000"
        - else
          %ns1:tel
            %ns1:parameters
              %ns1:type
                %ns1:text= 'work'
            %ns1:uri= "tel:+1-" + "000-000-0000"
        - individual[:person][:emails].each do |email|
          %ns1:email
            %ns1:parameters
              %ns1:type
                %ns1:text= email[:email_type]
            %ns1:text= email[:email_address]
      %ns1:exchange_id= broker_role[:npn]
      %ns1:exchange_status= "ACTIVE"
      %ns1:exchange_version= "1"