<?xml version='1.0' encoding='utf-8' ?>
%brokers{:'xmlns:ns1'=>"urn:dchbx:brokerv1", :xmlns=>"urn:dchbx:brokerv1", :'xmlns:xsi'=>"http://www.w3.org/2001/XMLSchema-instance", :'xsi:schemaLocation'=>"urn:dchbx:broker broker_20130903.xsd"}
  - individual[:broker_roles].each do |broker_role|
    %ns1:broker
      %ns1:npn= broker_role[:npn]
      %ns1:license
        %ns1:license_number= broker_role[:npn]
        %ns1:state= "DC"
      %ns2:vcard{:'xmlns:ns2'=>"urn:ietf:params:xml:ns:vcard-4.0"}
        %ns2:fn= individual[:person][:name_full].present? ? individual[:person][:name_full] : individual[:person][:name_first] + " " + individual[:person][:name_last]
        %ns2:n
          %ns2:surname= individual[:person][:name_last]
          %ns2:given= individual[:person][:name_first]
        %ns2:org= broker_role[:broker_agency][:display_name]
        - if broker_role[:broker_agency].keys.include? :office_locations
          - broker_role[:broker_agency][:office_locations].each do |office_location|
            - address = office_location[:address]
            - phone = office_location[:phone]
            %ns2:adr
              %ns2:parameters
                %ns2:type
                  %ns2:text= address[:address_type]
              %ns2:street= address[:address_1]
              - if address[:address_2].present?
                %ns2:street= address[:address_2]
              %ns2:locality= address[:city]
              %ns2:region= address[:state]
              %ns2:code= address[:postal_code]
            - if phone.present?
              - if (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length == 10)
                - phone_number = phone[:phone_number]
              - elsif (phone[:phone_number].present?) && (phone[:phone_number].gsub(/[^0-9]/,'').length > 10)
                - phone_number = phone[:phone_number][0..9]
              - else
                - phone_number = "0000000000"
              %ns2:tel
                %ns2:parameters
                  %ns2:type
                    %ns2:text= phone[:phone_type]
                %ns2:uri= "tel:+1-" + phone_number.gsub(/[^0-9]/,'').insert(-5, '-').insert(-9, '-')
            - else
              %ns2:tel
                %ns2:parameters
                  %ns2:type
                    %ns2:text= 'work'
                %ns2:uri= "tel:+1-" + "000-000-0000"
            - individual[:person][:emails].each do |email|
              - next if email[:email_type] != "work"
              %ns2:email
                %ns2:parameters
                  %ns2:type
                    %ns2:text= email[:email_type]
                %ns2:text= email[:email_address]
      %ns1:exchange_id= broker_role[:npn]
      %ns1:exchange_status= "ACTIVE"
      %ns1:exchange_version= "1"