<div class="tab-pane" id="elected_plans">
  <div id="plans">
    <% if @employer.carriers.count <= 0 %>
      <p> No Elected Plans Found! </p>
    <% elsif @employer.carriers.count == 1 %>
      <%= render "employers/showtabs/elected_plans_table", elected_plans: @elected_plans %>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs nav-append-content">
            <% @employer.carriers.each_with_index do |carrier, index| %>
              <li class="<%= 'active' if index==0 %>"><a href="#<%= carrier.id %>"><%= carrier.name %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% @employer.carriers.each_with_index do |carrier, index| %>
              <div class="tab-pane <%= 'active' if index==0 %>" id="<%= carrier.id %>">
                <%= render "employers/showtabs/elected_plans_table", elected_plans: @elected_plans.select { |p| p.carrier_id == carrier.id } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
