<%- model_class = Plan -%>
<div class="page-header">
  <%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Plans', plans_path),
      @plan.name
    ]
  %>
</div>
<div class='col-md-offset-1 col-md-10'>
  <dl class="dl-horizontal">
    <dt><%= model_class.human_attribute_name(:name) %></dt>
    <dd><%= @plan.name %></dd>
    <dt><%= model_class.human_attribute_name(:abbrev) %></dt>
    <dd><%= @plan.abbrev %></dd>
    <dt><%= model_class.human_attribute_name(:hbx_plan_id) %></dt>
    <dd><%= @plan.hbx_plan_id %></dd>
    <dt><%= model_class.human_attribute_name(:hios_plan_id) %></dt>
    <dd><%= @plan.hios_plan_id %></dd>
    <dt><%= model_class.human_attribute_name(:coverage_type) %></dt>
    <dd><%= @plan.coverage_type %></dd>
    <dt><%= model_class.human_attribute_name(:metal_level) %></dt>
    <dd><%= @plan.metal_level %></dd>
    <dt><%= model_class.human_attribute_name(:market_type ) %></dt>
    <dd><%= @plan.market_type  %></dd>
    <dt><%= model_class.human_attribute_name(:ehb) %></dt>
    <dd><%= @plan.ehb %></dd>
  </dl>

  <%= render 'premium_calculator', plan: @plan, rate_period_date: @rate_period_date, benefit_begin_date: @benefit_begin_date, birth_date: @birth_date %>
</div>
