<div class="col-md-10">
  <h4>Household Members</h4>
  <% @household.people.each do |person| %>
    <%= link_to prepend_glyph_to_name(person.full_name), person_path(person) %>
    <br/>
  <% end %>
  <h4>Policies</h4>
    <%= link_to 'New Policy', new_policy_path(application_group_id: @household.application_group_id, household_id: @household.id) %>
    <ul>
      <% @household.policies.each do |policy| %>
        <li>
          <%= policy.eg_id %>
          <br/>
          <%= link_to('Enroll member', edit_policy_path(policy.id)) %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Member(s)</th>
                <th>Relationship</th>
              </tr>
            </thead>
            <tbody>
              <% policy.enrollees.each do |e| %>
                <tr>
                  <td><%= link_to prepend_glyph_to_name(e.person.full_name), person_path(e.person) %></td>
                  <td><%= relationship_code_to_human(e.rel_code) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </li>
      <% end %>
    </ul>
</div>
