%ul.breadcrumb
  Cancel or Terminate
= form_for @cancel_terminate, url: transmit_policy_path(@cancel_terminate.policy) do |f|
  .panel.panel-default
    .panel-body
      .row
        .col-md-12
          .control-group
            = f.radio_button :operation, "terminate", checked: true
            = f.label "terminate"
            = f.radio_button :operation, "cancel"
            = f.label "cancel"
      .row
        .col-md-12
          .control-group.hidden
            = f.select :reason, options_for_select(CancelTerminate.reasons), :class => 'form-control select-block select mbl'
      .row.benefit_end_date_group
        .col-md-12
          = f.label :benefit_end_date
          .col-md-2.offset-1.input-group
            %span.input-group-btn
              %button.btn.disabled
                %span.fui-calendar
            = f.text_field :benefit_end_date, {class: 'form-control date_picker'}
      %table.table.table-condensed.cancel_terminate_table
        %thead
          %tr
            %th{title: "To Terminate"}
              Members
            %th
              Name
            %th
              Role
        %tbody
          = f.fields_for(:people) do |people_fields|
            %tr
              %td
                = people_fields.check_box :include_selected
                = people_fields.hidden_field :m_id
              %td
                = people_fields.object.name
                = people_fields.hidden_field :name
              %td
                = people_fields.object.role
                = people_fields.hidden_field :role
      .row
        .col-md-2
          .form_actions
            = f.submit 'Cancel / Terminate', class: 'btn btn-inverse', confirm: 'WARNING: This action will end coverage for the selected individuals. Clicking OK will send a transmission to the Carrier. Are you sure you want to continue?'
        .col-md-2
          = f.label "Transmit?"
          = f.check_box :transmit, checked: true
