<%= javascript_tag do %>
  var autocomplete_items = <%= raw(Employer.all.map { |e| {value: e.name, id: e.id } }.to_json) %>;
<% end %>

<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Application Group', application_group_path(@form.application_group.id)),
      'New Policy'
    ]
  %>
</div>

<%= form_for(@form) do |f| %>
  <%= f.hidden_field :application_group_id %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Carrier" %>
      </div>
      <div class="col-md-3">
        <%= f.select :carrier_id, options_from_collection_for_select(@form.carriers, "id", "name"), {:prompt => 'Nothing Selected'}, {:id => 'Carriers'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Plan"%>
      </div>
      <div class="col-md-3">
        <%= f.select :plan_id, [], {:prompt => 'Nothing Selected'}, {:id => 'Plans'} %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Coverage Start"%>
      </div>
      <div class="input-group col-md-2">
        <span class="input-group-btn">
          <button class="btn" type="button"><span class="fui-calendar"></span></button>
        </span>
          
        <%= f.text_field :coverage_start, class: "form-control date_picker",
          placeholder: "mm/dd/yyyy"
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Credit" %>
      </div>
      <div class="input-group col-md-2">
        <%= f.text_field :credit, :class => 'form-control input-md', placeholder: '$0.00' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Carrier To Bill?" %>
      </div>
      <div class="input-group col-md-2">
        <%= f.check_box :carrier_to_bill %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Employer" %>
      </div>

      <div class="input-group">
        <input type="text" class="typeahead" data-target='#hidden_employer_id'/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <%= label_tag "Transmit?" %>
      </div>

      <div class="input-group">
        <%= f.check_box :transmit_to_carrier %>
      </div>
    </div>

    <%= f.hidden_field(:employer_id, id: 'hidden_employer_id') %>
    
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Include?</th>
          <th>Relationship</th>
        </tr>
      </thead>
      <tbody>

        <%= f.fields_for(:people) do |pf| %>
          <%= pf.hidden_field(:hbx_member_id) %>
          <%= pf.hidden_field(:birth_date) %>
          <tr>
            <td><%= pf.object.name %></td>
            <td>
              <%= pf.check_box :include_selected %>
            </td>
            <td>
              <%= pf.select :relationship, options_for_select(Enrollee::RELATIONSHIP_STATUS_CODE_LIST), prompt: "Nothing Selected", prompt: "Nothing Selected" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <div class="form_actions">
      <%= f.submit 'Create Policy', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%#= render 'form' %>

<%#= link_to 'Back', policies_path %>
